<!doctype HTML>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Twitter Shooter</title>
   <link rel='stylesheet' type='text/css' href='main.css'>
   <script src='http://codeorigin.jquery.com/jquery-2.0.3.min.js'></script>
   <script src='curl.js'></script>
   <script src='main.js'></script>
</head>
<body>
   <div class='game'>
      <div class='stage'></div>
      <img class='reticle' src=/>
      <div class='time'>99:99:99</div>
      <div class='score'>Score 00900</div>
   </div>
</body>

<%= yield %>

</html>
